/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.pageContent {
  min-height: 420px;
}

button, a.button {
  background: #f40009;
  color: white;
  border: 1px solid white;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  padding: 5px;
  text-decoration: none;
}

form label {
  width: 200px;
  display: inline-block;
}

form input[type=text] {
  padding: 5px;
}

form .drink_type input[type=checkbox] {
  display: none;
}

form .drink_types img {
  border: 1px solid #aaa;
}
form img.selectedDrink {
  border: 1px solid white;
}

.field_with_errors {
  display: inline-block;
}
.field_with_errors input {
  border: 2px solid red;
}
.fb {
  padding-top: 5px
}